# Attempt to source weather/climate data using APIs

In [3]:
import pandas as pd
import requests
import json
import getpass

### DATA SOURCE ATTEMPT 1

In [4]:
url = "https://api.openaq.org/beta/averages"
r = requests.get(url)
r

Air pollution data not available from desired source. Appears to be an internal error, so can't be fixed from my side.

### DATA SOURCE ATTEMPT 2

In [6]:
url = "https://app.climate.azavea.com/api/city/"
headers = {"Authorization": "Token 58670d80965bc03738444ba6879e7826314d66d2"}
r = requests.get(url, headers=headers)
r

In [7]:
r.json().keys()

dict_keys(['type', 'count', 'next', 'previous', 'features'])

In [8]:
pd.DataFrame(r.json())

,type,count,next,previous,features
0,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 345, 'type': 'Feature', 'geometry': {'t..."
1,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 521, 'type': 'Feature', 'geometry': {'t..."
2,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 329, 'type': 'Feature', 'geometry': {'t..."
3,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 692, 'type': 'Feature', 'geometry': {'t..."
4,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 1240, 'type': 'Feature', 'geometry': {'..."
5,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 648, 'type': 'Feature', 'geometry': {'t..."
6,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 438, 'type': 'Feature', 'geometry': {'t..."
7,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 880, 'type': 'Feature', 'geometry': {'t..."
8,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 1346, 'type': 'Feature', 'geometry': {'..."
9,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 1049, 'type': 'Feature', 'geometry': {'..."
10,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 1456, 'type': 'Feature', 'geometry': {'..."
11,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 344, 'type': 'Feature', 'geometry': {'t..."
12,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 503, 'type': 'Feature', 'geometry': {'t..."
13,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 121, 'type': 'Feature', 'geometry': {'t..."
14,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 1587, 'type': 'Feature', 'geometry': {'..."
15,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 1010, 'type': 'Feature', 'geometry': {'..."
16,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 1026, 'type': 'Feature', 'geometry': {'..."
17,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 1622, 'type': 'Feature', 'geometry': {'..."
18,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 1133, 'type': 'Feature', 'geometry': {'..."
19,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"{'id': 1303, 'type': 'Feature', 'geometry': {'..."

In [9]:
from pandas.io.json import json_normalize
results = r.json()

In [10]:
flattened_data = pd.json_normalize(results)

In [11]:
flattened_data

,type,count,next,previous,features
0,FeatureCollection,1771,https://app.climate.azavea.com/api/city/?page=2,None,"[{'id': 345, 'type': 'Feature', 'geometry': {'..."

Sadly the data is too complicated and messy for the short time period we have on this project

### DATA SOURCE ATTEMPT 3

Import 'country_codes.csv' file that contains all the country codes from WeatherBit

In [13]:
country_codes = pd.read_csv('..\csv_files\country_codes.csv')

In [14]:
country_codes

    country_code          country_name
0             AD               Andorra
1             AE  United Arab Emirates
2             AF           Afghanistan
3             AG   Antigua and Barbuda
4             AI              Anguilla
..           ...                   ...
241           YE     Aden Municipality
242           YT               Mayotte
243           ZA          South Africa
244           ZM                Zambia
245           ZW              Zimbabwe

[246 rows x 2 columns]

Investigate null values

In [15]:
country_codes.isna().sum()

country_code     1
country_name    28
dtype: int64

Display rows with null values

In [16]:
null_codes = country_codes[country_codes.isna().any(axis=1)]
null_codes

    country_code country_name
10            AS          NaN
14            AX          NaN
25            BL          NaN
29            BQ          NaN
51            CW          NaN
57            DK          NaN
75            GB          NaN
78            GF          NaN
85            GP          NaN
90            GU          NaN
107           JE          NaN
133           MA          NaN
137           MF          NaN
145           MP          NaN
146           MQ          NaN
156          NaN      Namibia
157           NC          NaN
171           PF          NaN
175           PL          NaN
176           PM          NaN
178           PR          NaN
184           RE          NaN
185           RO          NaN
197           SJ          NaN
204           SS          NaN
207           SX          NaN
212           TF          NaN
238           WF          NaN
240           XK          NaN

Delete rows that contain null values

In [17]:
country_codes = country_codes.dropna()
country_codes

    country_code          country_name
0             AD               Andorra
1             AE  United Arab Emirates
2             AF           Afghanistan
3             AG   Antigua and Barbuda
4             AI              Anguilla
..           ...                   ...
241           YE     Aden Municipality
242           YT               Mayotte
243           ZA          South Africa
244           ZM                Zambia
245           ZW              Zimbabwe

[217 rows x 2 columns]

Create list of country codes from 'country_code' column

In [18]:
country_code_list = country_codes["country_code"].tolist()
print(country_code_list)

['AD', 'AE', 'AF', 'AG', 'AI', 'AL', 'AM', 'AO', 'AQ', 'AR', 'AT', 'AU', 'AW', 'AZ', 'BA', 'BB', 'BD', 'BE', 'BF', 'BG', 'BH', 'BI', 'BJ', 'BM', 'BN', 'BO', 'BR', 'BS', 'BT', 'BW', 'BY', 'BZ', 'CA', 'CC', 'CD', 'CF', 'CG', 'CH', 'CI', 'CK', 'CL', 'CM', 'CN', 'CO', 'CR', 'CU', 'CV', 'CX', 'CY', 'CZ', 'DE', 'DJ', 'DM', 'DO', 'DZ', 'EC', 'EE', 'EG', 'EH', 'ER', 'ES', 'ET', 'FI', 'FJ', 'FK', 'FM', 'FO', 'FR', 'GA', 'GD', 'GE', 'GG', 'GH', 'GI', 'GL', 'GM', 'GN', 'GQ', 'GR', 'GS', 'GT', 'GW', 'GY', 'HK', 'HN', 'HR', 'HT', 'HU', 'ID', 'IE', 'IL', 'IM', 'IN', 'IQ', 'IR', 'IS', 'IT', 'JM', 'JO', 'JP', 'KE', 'KG', 'KH', 'KI', 'KM', 'KN', 'KP', 'KR', 'KW', 'KY', 'KZ', 'LA', 'LB', 'LC', 'LI', 'LK', 'LR', 'LS', 'LT', 'LU', 'LV', 'LY', 'MC', 'MD', 'ME', 'MG', 'MH', 'MK', 'ML', 'MM', 'MN', 'MO', 'MR', 'MS', 'MT', 'MU', 'MV', 'MW', 'MX', 'MY', 'MZ', 'NE', 'NF', 'NG', 'NI', 'NL', 'NO', 'NP', 'NR', 'NU', 'NZ', 'OM', 'PA', 'PE', 'PG', 'PH', 'PK', 'PN', 'PS', 'PT', 'PW', 'PY', 'QA', 'RS', 'RU', 'RW', 'SA', 'SB', 'SC', 'SD', 'SE', 'SG', 'SH', 'SI', 'SK', 'SL', 'SM', 'SN', 'SO', 'SR', 'ST', 'SV', 'SY', 'SZ', 'TC', 'TD', 'TG', 'TH', 'TJ', 'TK', 'TL', 'TM', 'TN', 'TO', 'TR', 'TT', 'TV', 'TW', 'TZ', 'UA', 'UG', 'US', 'UY', 'UZ', 'VA', 'VC', 'VE', 'VG', 'VI', 'VN', 'VU', 'WS', 'YE', 'YT', 'ZA', 'ZM', 'ZW']

Download via the WeatherBit API request URL without a 'postal_code' value

In [19]:
url = "https://api.weatherbit.io/v2.0/history/energy&postal_code=27601&country=US&start_date=2016-01-16&end_date=2016-12-31&key=ac9cbfd22b2d4ef2abf23fc6d9883102&tp=monthly"
r = requests.get(url)
r

In [20]:
r.json()

{'error': 'API key is required.'}

In [21]:
r.json()["error"]

'API key is required.'

In [22]:
pd.DataFrame(r.json())

ValueError: If using all scalar values, you must pass an index

Use 'country_code_list' to create an F String that will change the country code in the API request URL

In [24]:
url = "https://api.weatherbit.io/v1.0/forecast/3hourly/geosearch?city=London&country=GB&key=ac9cbfd22b2d4ef2abf23fc6d9883102"
r = requests.get(url)
r

Gave up trying to use APIs due to lack of time and downloaded a CSV file looking at protected land as a percentage of total land (see 'land_use_clean.ipynb')